
body
{

}
.kontainer
{
    background-color: green;
    width: 700px;
    padding: 40px;
    margin: auto;
    margin-top: 20px;
}
.inlägg
{
background-color: orange;
padding: 40px;
margin-bottom: 40px;
}
h1
{

}
h2
{

}
img
{
    width: 500px;
}
.datum
{

}
g
{

}