
/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
img {
width: 100%;
}

/* sidan */
body {
    background-image: url(Bilder/bai85xofv5z11.jpg);
    background-repeat: no-repeat;
}
.kontainer {
    width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Bygga layouten */
/* För Desktop */
@media (min-width: 1000px){
    .kontainer {
        width: 1000px;
        margin: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "sidhuvud sidhuvud"
        "artiklarna sidebar"
        "sidfot sidfot";
        gap: 20px;
    }
}
/* För platta */
@media(min-width: 768px){
    .kontainer {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "sidhuvud sidhuvud"
        "artiklarna sidebar"
        "sidfot sidfot";
        gap: 20px;
    }
}
/* För lur */
@media(min-width: 576px){
    .kontainer {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "sidhuvud sidhuvud"
        "artiklarna sidebar"
        "sidfot sidfot";
        gap: 20px;
    }
}

header {
    grid-area: sidhuvud;
    padding: 20px;
    font-family: "Rubik Moonrocks", serif;;
}
main {
    grid-area: artiklarna;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
aside {
    grid-area: sidebar;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
footer {
    grid-area: sidfot;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

/* Sidhuvud */
header {
    color: #fff;
    font-family: "Rubik Moonrocks", serif;
}
header h1 {
    font-size: 80px;
}
header h2 {}

/* Menyn */
header nav {
    background: rgb(95,255,0);
background: linear-gradient(0deg, rgba(95,255,0,1) 0%, rgba(36,167,36,1) 35%, rgba(95,255,0,1) 100%);
    padding: 9px;
    font-family: Arial, Helvetica, sans-serif;
}
header nav a {
    text-decoration: none;
    color: white;
    padding: 9px;
    border-radius: 2px;
}
header nav a.aktiv {
    background: rgb(71,191,0);
background: linear-gradient(0deg, rgba(71,191,0,1) 0%, rgba(26,130,26,1) 35%, rgba(71,191,0,1) 100%);
}
header nav a:hover {
    background: rgb(71,191,0);
    background: linear-gradient(0deg, rgba(71,191,0,1) 0%, rgba(26,130,26,1) 35%, rgba(71,191,0,1) 100%);
}

/* Sidans innehåll - artiklar, text mm */
main {}
main article {}
main article h3 {}
main article figure {
    width: 50%;
    margin: auto;
    padding: 30px;
    border: 1px solid #aaa;
    margin-bottom: 20px;
}
main article figure img {}
main article figure figcaption {}
main article p {}

/* Sidobar */
aside {}
aside h4 {}
aside p {}

/* Sidfoten */
footer {}
footer p {}